<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header-loggedin.ejs") %>
    <h1 class="movies-index">Watched Movies</h1>
    <div class="movies">
        <% movies.forEach((movies, index) =>{ %>
            <div class="movie-block">
                <img class="movie-block-img" src="<%= movies.Poster %>"></img>
                <div class="movie-block-title">
                    <h2 class="movie-title"><%= movies.Title %></h1>
                </div>
                <div class="movie-block-date">
                    <h5 class="movie-released"><%= movies.Released %></h5>
                </div>
                <div class="movie-block-starring">
                    <h4 class="starring">Starring:</h4>
                    <h4 class="movie-actors"><%= movies.Actors %></h4>
                </div>
                <div class="movie-block-plot">
                    <h5 class="plot">Plot:</h5>
                    <h5 class="movie-plot"><%= movies.Plot %></h5>
                </div>
                <div class="movie-block-watched-date">
                    <h5 class="starring">Watched Date:</h5>
                    <h5 class="movie-actors"><%= movies.Watched %></h5>
                </div>
                <div class="index-forms">
                    <form action="/movies/<%= movies._id %>" method="GET">
                        <button class="update-button">Update</button>
                    </form>
                    <form action="/movies/<%= movies._id %>?_method=DELETE" method="POST">
                        <input type="hidden" name="_id" value="<% movies._id %>">
                        <button class="delete-button">Delete</button>
                    </form>
                </div>
            </div>
            <% }) %>
            <!-- <#% console.log(movies[1]) %> -->
    </div>
</body>
</html>