<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header-loggedin.ejs") %>
    <div class="results-div">
        <form class="results-form" action="/movies" method="POST">
            <img class="results-poster" src="<%= data.Poster %>">
            <div class="results-box-1">
                <h2> <%= data.Title %></h2>
            </div>
            <div class="results-box-2">
                <h4> <%= data.Released %></h4>
            </div>
            <div class="results-box-3">
                <h3 class="results-titles">Actors:</h3>
                <h4> <%= data.Actors %></h4>
            </div>
            <div class="results-box-4">
                <h3 class="results-titles">Plot:</h3>
                <h4> <%= data.Plot %></h4>
            </div>

            <div class="submit">
                <div class="watch-date">
                    <h4 id="watched-date">Watched Date:
                        <input type="date" class="watched" name="watched">
                    </h4>
                </div>
                <button class="movied">
                    <input type="hidden" name="title" value="<%= data.Title %>">
                    <input type="hidden" name="year" value="<%= data.Year %>">
                    <input type="hidden" name="poster" value="<%= data.Poster %>">
                    <input type="hidden" name="actors" value="<%= data.Actors %>">
                    <input type="hidden" name="plot" value="<%= data.Plot %>">
                    <input type="hidden" name="released" value="<%= data.Released %>">
                    Movied!
                </button>
            </div>
        </form>
    </div>
</body>
</html>